<table class="table">
    <tbody>
    <tr>
        <th>author</th>
        <td>{{ question.user.username }}</td>
        <td></td>
    </tr>
    <tr>
        <th>Content</th>
        <td><a href="{{ url('app_question_show', {'id': question.id}) }}">{{ question.content }}</a></td>
        <td>
            {% if app.user and app.user.canAnswerQuestion(question) %}
                <a href="{{ url('app_answer_new', {'id': question.id}) }}"><button>Answer</button></a>
            {% endif %}
            {% set answer = app.user.hasAnswerTo(question) %}
            {% if app.user and answer %}
                <a href="{{ url('app_answer_edit', {'id': answer.id}) }}"><button>Update your answer</button></a>
            {% endif %}

            ({{ question.answers.count }} answers)
        </td>
        <hr/>
    </tr>
    </tbody>
</table>

