{{ form_start(form) }}
    {% if user.avatarFileName %}
        <img src="{{ path }}/{{ user.avatarFileName }}" style="width: 100px; height: 100px;" />
    {% endif %}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
